@font-face {
   font-family: 'Noto Sans JP';
   font-style: normal;
   font-weight: 400;
   /* from //fonts.gstatic.com/ea/notosansjp/v1/NotoSansJP-Regular.woff */
   src: url('/src/fonts/NotoSansJP-Regular.woff') format('woff');
}
@font-face {
   font-family: 'Noto Sans SC';
   font-style: normal;
   font-weight: 400;
   /* from //fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff */
   src: url('/src/fonts/NotoSansSC-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    /* from https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff */
    src: url('/src/fonts/Noto_Sans_400.woff') format('woff');
}
